@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
* #houbei-box {
	background-color:#069;
	position:relative;
	overflow:hidden;
	margin:0 auto;
}
#houbei-box ul {
	margin:0;
	padding:0;
}
#houbei-box li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#houbei-box img {
	border:none;
}
#houbei-num {
	width:100%;
	height:26px;
	float:right;
	position:absolute;
	right:0px;
	bottom:4px;
}
#houbei-num span {
	display:inline-block;
	float:left;
	width:18px;
	height:20px;
	border:1px solid #666;
	background-color:#000;
	color:#FFF;
	line-height:18px;
	text-align:center;
	cursor:pointer;
	margin:0 3px;
	font-size:12px;
}
#houbei-num span.this {
	background-color:#00FF10;
	color:#000;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */